<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '300px' }">
    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Configuración </mat-panel-title>
            <mat-panel-description>
              <mat-icon>settings</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-list-item
            *ngFor="let item of settingItems"
            [routerLink]="item.url"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.label }}
          </mat-list-item>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button>
      Cerrar Sesión
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
